{% extends 'web/base.html' %}

{% block content %}
<div align=center>
  <h2>Welcome Visitor :) </h2>
  <h2>Vehicle Number: {{ string }}</h2>
  <br>
  <h3>Enter the below information to proceed further.</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Save</button>
    </form>
</div>

<div class="text-center">
    <a href="{% url 'dashboard' %}" type ="button" class ="btn  btn-dark" ><i class="fa fa-home" aria-hidden="true"></i>Home</a>
</div>

{% endblock %}
